/* FORM Component */
.form-wrapper {
    width: 500px;
    background-color: transparent;
    color: white;
    border: 5px solid gold;
    border-radius: 10px;
    padding: 30px 40px;
    background:  url('../assets/images/v783-noon-04b.jpg') no-repeat;
    background-size: cover;
    background-position: center ;
  
  }
  
  .form-wrapper h1 {
    font-size: 36px;
    text-align: center;
  }
  
  .form-wrapper .input-box {
    position: relative;
    width: 100%;
    height: 50px;
    margin: 30px 0;
    backdrop-filter: blur(10px);
  }
  
  .input-box input {
    width: 100%;
    height: 100%;
    background: transparent;
    outline: none;
    font-size: 18px;
    color: black;
  }
  
  .input-box input::placeholder {
    color: black;
  }
  
  .form-wrapper button {
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    background: white;
    color: var(--mainColor);
    font-size: 18px;
    font-weight: 700;
    cursor: pointer;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  }