@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maitree", sans-serif;
}

:root {
  --mainColor: #39249e;
  --mainColorLight: #5c4f9f;
  --secondaryColor: #f7f7f7;
  --tertiary-color: #7f7f7f;
  --textColor: #eee;
}

/* HEADER COMPONENT*/
header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  height: 80px;
  padding: 0 2rem;
  background-color: var(--mainColor);
  color: var(--textColor);
}

nav a {
  margin: 0 1rem;
  color: var(--textColor);
}

nav a:hover {
  color: var(--secondaryColor);
}

header .nav-btn {
  padding: 5px;
  cursor: pointer;
  background: transparent;
  border: none;
  outline: none;
  color: var(--textColor);
  visibility: hidden;
  opacity: 0;
}

@media only screen and (max-width: 1024px) {
  header .nav-btn {
    visibility: visible;
    opacity: 1;
  }

  header nav {
    position: fixed;
    top: 0;
    left: 0;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;
    background-color: var(--mainColor);
    transition: 1s;
    transform: translateY(-100vh);
  }

  header .show {
    transform: translateY(100vh);
  }

  nav .nav-close-btn {
    position: absolute;
    top: 2rem;
    right: 2rem;
  }

  nav a {
    font-size: 2rem;
  }
}

/* FORM Component */
.form-wrapper {
  width: 500px;
  background-color: transparent;
  color: white;
  border: 5px solid gold;
  border-radius: 10px;
  padding: 30px 40px;
  background:  url('../assets/images/v783-noon-04b.jpg') no-repeat;
  background-size: cover;
  background-position: center ;

}

.form-wrapper h1 {
  font-size: 36px;
  text-align: center;
}

.form-wrapper .input-box {
  position: relative;
  width: 100%;
  height: 50px;
  margin: 30px 0;
  backdrop-filter: blur(10px);
}

.input-box input {
  width: 100%;
  height: 100%;
  background: transparent;
  outline: none;
  font-size: 18px;
  color: black;
}

.input-box input::placeholder {
  color: black;
}

.form-wrapper button {
  width: 100%;
  height: 50px;
  border: none;
  outline: none;
  background: white;
  color: var(--mainColor);
  font-size: 18px;
  font-weight: 700;
  cursor: pointer;
  border-radius: 40px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}
/*CONTACT COMPONENT*/
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
  border: 1px solid red;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-form-container {
  padding: 0.5rem !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem !important;
}
.contact-form-container input {
  font-size: 1rem !important;
  max-width: 100%;
  padding: 0.5rem 1rem !important;
  margin-bottom: 0.8rem !important;
  text-align: center;
}
.primary-heading {
  text-align: center;
  max-width: 90%;
}
.secondary-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
}
/* FOOTER COMPONENT */

.bottom-message {
  text-align: center;
}
.bottom-message span {
  color: var(--tertiary-color);
}

footer {
  position: relative;
  max-width: 100%;
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 70rem;
  margin-left: 1rem;
  margin-right: 1rem;
  font-family: "Chakra Petch", sans-serif;
  margin-bottom: 1%;
}

footer ul {
  width: 20%;
  display: flex;
  gap: 30px;
  list-style: none;
}

footer a {
  text-decoration: none;
}

/* FORM */
input[type="text"],
input[type="email"],
input[type="number"] {
  display: block;
  width: 400px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.5;
  color: var(--textColor);
  border: 1px solid var(--tertiary-color);
  border-radius: 4px;
  margin-bottom: 20px;
}

/* LOGIN */
bodyLogin {
  margin: "20px 0 0px 0px";
}

/* Diagram div */
.diagram-wrapper {
  width: 75vw;
  height: 100vh;
  border: 1px solid black;
  margin-left: 1%;
  border-radius: 40px;

}

/* Temp div in App.js to rep the diagram */
.temp-div {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  padding: 1%;
}