@import url("https://fonts.googleapis.com/css2?family=Maitree:wght@300;400&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&display=swap");
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Maitree", sans-serif;
}

:root {
  --mainColor: #39249e;
  --mainColorLight: #5c4f9f;
  --secondaryColor: #f7f7f7;
  --tertiary-color: #7f7f7f;
  --textColor: #eee;
}

/*CONTACT COMPONENT*/
.contact-page-wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin: 6rem 0rem;
  border: 1px solid red;
}
.contact-page-wrapper h1 {
  max-width: 900px !important;
}
.contact-form-container {
  padding: 0.5rem !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 1rem !important;
}
.contact-form-container input {
  font-size: 1rem !important;
  max-width: 100%;
  padding: 0.5rem 1rem !important;
  margin-bottom: 0.8rem !important;
  text-align: center;
}
.primary-heading {
  text-align: center;
  max-width: 90%;
}
.secondary-button {
  font-size: 1rem;
  padding: 0.8rem 2rem;
  cursor: pointer;
}



/* Temp div in App.js to rep the diagram */
.temp-div {
  width: 100%;
  height: 100%;
  border: 1px solid red;
  display: flex;
  padding: 1%;
}