@import url("https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Romanesco&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Chakra Petch", "Romanesco", sans-serif;
}

:root {
  --mainColor: #39249e;
  --mainColorLight: #5c4f9f;
  --secondaryColor: #f7f7f7;
  --tertiary-color: #7f7f7f;
  --textColor: #eee;
}

/* Navbar COMPONENT */
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  max-width: 70%;
  margin: 0 auto;
  border-bottom: 1px solid black;
  position: sticky;
}

.navbar h1 {
  color: #f1356d;
}

.navbar a {
  margin-left: 16px;
  text-decoration: none;
  padding: 6px;
}

.navbar .links {
  margin-left: auto;
}

.navbar a:hover {
  color: #f1356d;
}

/* Hero Component */
.hero {
  background: url("../public/dreamup_creation_by_prarthbista_dgmqave.jpg")
    no-repeat center center fixed;
  background-size: cover;
  height: 400px;
  padding: 5rem 0;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  overflow: hidden;
  margin-bottom: 0.5rem;
  position: relative;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(0, 0, 0, 0.1); 
}

.hero-mask {
  background-color: rgba(0, 0, 0, 0.6);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  justify-content: center;
  align-items: center;
}

.hero-content {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  z-index: 1;
  font-family: "Romanesco", cursive;
}

.hero-text {
  text-align: center;
}

.hero-text h1 {
  margin-bottom: 1rem;
}

.hero-text h4 {
  margin-bottom: 2rem;
}

.hero-button {
  border: 2px solid white;
  background-color: transparent;
  color: white;
  padding: 1rem 2rem;
  font-size: 1.125rem;
  text-decoration: none;
  border-radius: 5px;
  transition: background-color 0.3s, color 0.3s;
}

.hero-button:hover,
.hero-button:focus {
  background-color: white;
  color: black;
}

/* Form Component */
.family-details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 500px;
  max-height: 100%;
  padding: 1rem;
  background: rgba(255, 255, 255, 0.3);
  border-radius: 10px; 
  backdrop-filter: blur(10px); 
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1); 
  border: 1px solid rgba(0, 0, 0, 0.1); 
}

.family-details button {
  width: 100px;
}

.family-details-header {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem; /* Adjusted for better readability */
}

.family-form {
  display: flex;
  flex-direction: row;
  border-radius: 5px;
}

.family-form h3 {
  font-size: 1rem; /* Adjusted for better readability */
  text-align: center;
  margin-top: 1.5rem;
  margin-right: 0.5rem;
}

.family-form input,
.family-form select {
  width: 100%;
  font-size: 16px; /* Adjusted for consistency */
  color: black;
  margin: 1rem 0;
  padding: 0.5rem;
}

.family-form input::placeholder {
  color: black;
}

.family-form button {
  background: #007bff;
  color: black;
  font-size: 1.125rem; /* Adjusted for consistency */
  height: 50%;
  border: none;
  border-radius: 3px;
  cursor: pointer;
  margin-top: 1.5rem;
  margin-left: 1rem;
}

.family-form button:hover {
  background-color: #0056b3;
}

/* Table Styling */
table {
  background: #f5f5f5;
  border-collapse: separate;
  box-shadow: inset 0 1px 0 #fff;
  font-size: 12px;
  line-height: 24px;
  margin: 30px auto;
  text-align: center;
  width: 800px;
} 

thead {
  background: rgba(0, 0, 0, 0.1);
}

tbody:hover tr:hover td {
  color: #444;
  text-shadow: 0 1px 0 #fff;
}

/* FamilyTree Component */
.familytree-header {
  text-align: center;
  margin-top: 1rem;
  font-size: 2rem; /* Adjusted for consistency */
}

#myDiagramDiv {
  width: 90%;
  height: 500px;
  margin: 1rem auto; /* Adjusted for centering */
  border: 1px solid rgb(0, 0, 0);
  overflow: scroll;
}

/* Footer COMPONENT */
.bottom-message {
  text-align: center;
  margin-top: 1rem;
  font-weight: bold;
}

.bottom-message span {
  color: #D4AF37;
}

footer {
  display: flex;
  flex-direction: column;
  margin: 1rem;
  font-family: Arial, Helvetica, sans-serif;
}

footer ul {
  width: 100%; 
  display: flex;
  gap: 1rem; /* Adjusted for better spacing */
  list-style: none;
}

footer a {
  text-decoration: none;
}

@keyframes pulse {
  0% {
    transform: scale(1);
    opacity: 1;
  }
  50% {
    transform: scale(1.1);
    opacity: 0.8;
  }
  100% {
    transform: scale(1);
    opacity: 1;
  }
}

.pulsing-text {
  display: inline-block; /* Ensures the text scales properly */
  font-size: 16px; /* Adjust font size as needed */
  transition: color 0.3s ease; /* Optional: Smooth color transition */
}

.pulsing-text:hover {
  animation: pulse 1s infinite;
  color: #f1356d; /* Optional: Change color on hover */
}